@media screen and (max-width: 450px) {
 

   
    
   
    

    
    /* Our service */
    .services-title>h1 {
        font-size: 20px;
    }

    .s-img>img {
        width: 350px;
        margin-bottom: 1.5rem;
    }

    .ourservices {
        margin-top: 7.5rem;
        text-align: center;
    }

    .grid-service {
        display: block;
        gap: 2rem;
    }

    .serviceone-title>a>h4 {
        text-align: center;
        font-size: 12.5px;

    }

    .serviceone-title>a:hover h4 {
        color: #00b3ff;
    }

    /* End of our service */

    /* Pharmticacual */
    .grid-serviceone {
        display: block;
        gap: 1.5rem;

    }

    .service-one00>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .pharma-title {
        margin-left: 1rem;
    }

    .pharma-title,
    .food-section,
    .water {
        width: 95%;
    }

    .pharma-title>h1 {
        margin-top: 7.5rem;
        font-size: 20px;
        font-weight: 500;
        margin-left: 1.2rem;
    }

    .coveragetest-text>li {
        font-size: 12.5px;
    }

    .coverage-test {
        display: block;
        gap: 0.2rem;
    }

    .coveragetest-image>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .consult-text {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .coreverage-textdetail>h5 {
        font-size: 15px;
    }

    .microbiological-text>li {
        font-size: 12.5px;
    }

    .microbiological-img>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .physico-img>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .physico-text>li {
        font-size: 12.5px;
    }

    .p-txt>p {
        font-size: 12.5px;
    }

    .serive-onebtn {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .ads-service {
        margin-top: 0rem;
        margin-left: 1rem;

    }

    .f-service {
        margin-top: -25rem;
    }

    /* End pof pharnarticacual */
    /* Food  */
    .gridservice-two {
        display: block;
    }

    .food-title>h1 {
        margin-top: 7.5rem;
        font-size: 20px;
        text-align: left;
        font-weight: 500;
        margin-left: 1.2rem;
    }

    .food-title {
        text-align: left;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .food-section {
        margin-left: 1rem;
    }

    .food-image>img {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 0rem;
        object-fit: cover;
        width: 90%;
        height: 200px;
    }

    .coverage-image>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .coverage-text {
        margin-top: 1rem;
    }

    .coverage-text>h5 {
        font-size: 15px;
        margin-bottom: 1rem;
        margin-left: 1.2rem;
    }

    .coverage-text>li {
        list-style-type: circle;
        line-height: 1.6;
        font-size: 12.5px;
    }

    .labortory-text {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .food-txtt>p {
        font-size: 12.5px;
    }

    .physico-detail {
        margin-top: 1rem;

    }

    .labortory-text,
    .physico-detail>p {
        text-align: justify;
    }

    /* service one btn */
    .serive-onebtn {
        display: block;
        gap: 0rem;
    }

    .serviceone-btn {
        padding: 0.3rem 1rem;
        margin-bottom: 0.5rem;
    }

    .parameter-btn {
        padding: 0.3rem 1rem;
        margin-bottom: 0.5rem;
    }

    /* end of service one btn */

    /* End of food */
    /* water */
    .gridservice-three {
        display: block;
        gap: 0rem;
    }

    .water {
        margin-left: 1rem;
    }

    .water-title>h1 {
        margin-top: 7.5rem;
        font-size: 20px;
        margin-left: 1.2rem;
        font-weight: 500;
    }

    .water-detial>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .w-txt>p {
        font-size: 12.5px;
        line-height: 1.6;
    }

    .water-physico {
        display: block;
    }

    .waterphysico-img>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
    }

    .waterphysico-text {
        margin-left: 2rem;
    }

    .waterphysico-text>li {
        font-size: 12.5px;
        list-style-type: circle;
    }

    .waterphysico-text>h5 {
        margin-top: 0.5rem;
        font-size: 15px;
    }

    /* Article section */

    .previous-side>a {
        font-size: 12.5px;
    }

    .next-side>a {
        font-size: 12.5px;
    }

    /* End of article section */
    /* End of water */
    /* Welcome page */
    .grid-welcome {
        display: block;
        gap: 2rem;
    }

    .welcome-title>h1 {
        font-size: 20px;
    }

    .wel-txtt>p {
        font-size: 12.5px;
    }

    .wel-img>img {
        width: 90%;
        object-fit: cover;
        height: 185px;
        margin-left: 1.2rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .welcome-title {
        width: 95%;
        margin-left: 1rem;
    }

    .coverage-service {
        display: block;
    }

    .coverageservice-textdetail {
        margin-top: 1rem;
        line-height: 1.6;
    }

    .coverageservice-textdetail>h5 {
        font-size: 15px;
    }

    .waterphysico-detail {
        text-align: justify;
        margin-top: 1rem;
        line-height: 1.6;
    }

    .relecvant {
        display: block;
        gap: 1rem;
    }

    .relevan-text>h5 {
        margin-top: 1rem;
        font-size: 15px;
    }

    .co-li>li {
        font-size: 12.5px;
    }

    /* End of welcome page */

    /* Quote Section */
    .getaquotea {
        background-color: #ffff;
    }

    .quote-title>h3 {
        font-size: 18px;
        font-weight: 500;
    }

    .quote-title>p {
        font-size: 12.5px;
        text-align: justify;
        margin-top: 1.5rem;
    }

    .grid-quote {
        display: block;
        gap: 2rem;
    }

    .quote-form {
        width: 95%;
        margin-left: 1rem;
    }

    .getquote-text>h1 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .form-container {
        padding: 10px;
        border: 1px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container>label,
    .form-container>input,
    .form-container>div,
    .form-container>select,
    .form-container>textarea {
        margin-left: 2.5rem;
    }

    .la-name {
        display: block;
        margin-bottom: 5px;
    }

    .in-text {
        width: 75%;
        height: 0%;
        padding: 1px 1px 1px 1px;
        margin-bottom: 10px;
        border: 1px solid #afadad;
        border-radius: 3px;
        box-sizing: border-box;

    }

    .inquiry {
        height: 20px;
    }

    .btn-sub {
        padding: 5px 15px;
        margin-left: 9.5rem;
        background: linear-gradient(200deg, #22a3d6, #39e5d4);
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;

    }

    .btn-sub:hover {
        background: #22a3d6;
    }

    #responseMessage,
    #alertMessage {
        text-align: center;
        color: rgb(12, 12, 12);
        font-weight: bold;
        margin-top: 20px;
    }

    .hidden {
        display: none;
    }

    .error-message {
        color: red;
        font-size: 12px;
        display: none;
    }

    #responseMessage {
        color: blud;
    }

    #alertMessage {
        color: red;
    }

    /* End of Quote section */
    /* La-analysis section */
    .labiocert-analysis {
        margin-right: 1rem;
        display: block;
    }

    .la-text {
        margin-top: 7rem;

    }

    .la-text>h1 {
        font-size: 20px;
    }

    .la-table {
        margin-left: 0rem;
    }

    .latbl-txt>tr>td {
        font-size: 12.5px;
    }

    table td {
        border: 1px solid #ededed;
        padding: 0px 0px;
    }

    .reference-text>li {
        font-size: 12.5px;
    }

    .abbreviation-text {
        margin-top: 0.5rem;
    }

    .lan-txt>p {
        font-size: 12.5px;
    }

    /* End of  La-analysis section */
    /* Food-Analysis */
    .f-text>h1 {
        font-size: 20px;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .food-analysis {
        margin-left: 1rem;
        display: block;
    }

    .tbl-food {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .tbl-food>table {
        text-align: center;
    }

    .service-f-analysis>p {
        line-height: 1;
    }

    .ftbl-txt>tr>td {
        font-size: 12.5px;
    }

    .reference-food>ul>li {
        font-size: 12.5px;
    }

    .service-f-analysis>p {
        font-size: 12.5px;
    }

    /* End of Food-Analysis */
    /* Phy-analysis */
    .p-analysis {
        display: block;
        gap: 0rem;
        margin-left: 0.5rem;
    }

    .panalysis-txt {
        margin-top: 7rem;
        margin-left: 0rem;
    }

    .physiana-text>h1 {
        font-size: 18px;
    }

    .physiana-text>ul>li {
        font-size: 12.5px;
    }

    .ptbl-txt>tr>td {
        font-size: 12.5px;
    }

    .reference-phy {
        margin-top: 1rem;
    }

    .reference-phy,
    .contact-phy>p {
        font-size: 12.5px;
    }

    /* End of Phy-analysis */

    /* Analysis Fees */
    .anfees-section {
        display: block;
        gap: 1.5rem;
        margin-left: 0.5rem;
    }

    .f-table {}

    .an-fes {
        margin-top: 7rem;
        margin-left: 0rem;
    }

    .an-fes>h1 {
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .ftbl>tr>td {
        font-size: 12.5px;
    }

    .an-reference>p {
        font-size: 12.5px;
    }

    /* End of Analysis Fees  */
    /* Media Section */
    .media-title>h1 {
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    .media-text {
        margin-top: 7rem;
    }

    .media-image {
        display: block;
        gap: 0rem;
    }

    .media-ff {
        position: relative;
        width: 100%;
        max-width: auto;
        cursor: pointer;
        margin-bottom: 0.2rem;
    }

    .mediaf-own {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 10px;
        text-align: left;

    }

    .media-ff:hover .overlay {
        opacity: 1;
    }

    .media-s {
        position: relative;
        width: 100%;
        max-width: auto;
        cursor: pointer;

    }

    .medias-own {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .over {
        position: absolute;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 10px;
        text-align: left;
        padding: 0px 0px 0px 0px;
    }

    .media-s:hover .over {
        opacity: 1;
    }

    .all-detail {
        margin-top: 2rem;
        display: block;
        gap: 2rem;
    }

    .img-media>img {
        width: 110px;

    }

    .kinal-detail,
    .g-ppm {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .alldetail-text {
        width: 75%;
    }

    .knl-txt>a>h5 {
        font-size: 12px;
        margin-top: 0.5rem;
    }

    .gppm-txt>a>h5 {
        font-size: 12px;
        margin-top: 0.5rem;
    }

    .knl-tt {
        display: none;
    }

    /* End of Media Section */
    /* Event one section */

    .event-one {
        display: block;
    }

    .newyear-detial>h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .newyear-detial>p {
        font-size: 12.5px;
    }

    /* End of event one section */
    /* Event two section */
    .event-two {
        display: block;
    }

    .launch-detial>h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .launch-detial>p {
        font-size: 12.5px;
        margin-top: 2rem;
    }

    /* End of event two section */
    /* Event three section */
    .event-three {
        display: block;
    }

    .kinal-detial>h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .kinal-detial>p {
        font-size: 12.5px;
    }

    /* End of event three section */
    /* Location Section */
    .contact-container {
        padding: 20px;
        border: 1px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-left: 1rem;
    }

    .location-text>h1 {
        margin-top: 7rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 25px;
    }

    .cont-text {
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #cfcfcf;
        padding-bottom: 10px;
    }

    .cont-text>h1 {
        font-size: 20px;
    }

    .c-btnsub {
        padding: 5px 15px;
        background: linear-gradient(200deg, #22a3d6, #39e5d4);
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 7.5rem;
    }

    .c-section {
        display: block;
        margin-right: 1rem;
    }

    .c-grid {
        padding: 1rem 2rem;
    }

    .tel-grid,
    .e-grid,
    .l-grid {
        display: flex;
        gap: 1rem;
    }

    .c-text {
        color: rgb(77, 76, 76);
    }

    .cont-tell,
    .emaill-text,
    .locationn-text {
        margin-top: 0.5rem;
        font-size: 12.5px;
    }
  
    .ppm-section {
        width: 100%;
    }
    
    .ppm-text {
        line-height: 1.6;
    }
    
    .ppm-text>h1 {
        font-size: 20px;
        font-weight: 500;
    }
    .ppm-text > p {
        font-size: 12.5px;
    }
    /* copyright */
    .copy-right > h4{
        font-size: 12.5px;
    }
    .ppm-text > p {
        font-size: 12.5px;
    }
    /* copyright */
    .copy-right > h4{
        font-size: 12.5px;
    }
    .m-icon,
    .e-icon,
    .l-icon {
        font-size: 20px;
    }

    .o-detail>h5 {
        font-size: 17px;
    }

    /* End of Location Section */

    .style-bt {
        padding: .202rem;
        font-size: 12.5px;
    }

    .btn-quote {
        padding: 0.2rem 0.2rem;
    }
    .btn-pharma {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .btn-food {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .btn-water {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    /* Group PPM */
    .group-section {
        display: block;
        gap: 0rem;
        margin-top: 7rem;
        margin-left: 1rem;
    }
    
    .ppm-section {
        width: 100%;
    }
    
    .ppm-text {
        line-height: 1.6;
    }
    
    .ppm-text>h1 {
        font-size: 20px;
        font-weight: 500;
    }
    .ppm-text > p {
        font-size: 12.5px;
    }
    /* copyright */
    .copy-right > h4{
        font-size: 12.5px;
    }
    .ppm-text > p {
        font-size: 12.5px;
    }
    /* copyright */
    .copy-right > h4{
        font-size: 12.5px;
    }
}